*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
  }
.card {
    background: #2d6301;
    box-shadow: 0px 10px 100px #ffe600;
    border-radius: 15px;
    width: 50%;
    margin: 0px 10px;
  }
  .top-card {
    padding: 20px;
    padding-top: 0px;
  }
  
  .title {
    color: #ffe600;
  }
  
  .second-text {
    color: #ffe600;
  }
  .card img{
    width: 100%;
    height: 400px;
  }
  
  .bottom-card {
    padding: 20px;
  }
  
  .bottom-text {
    color: #ffe600;
  }
  
  .actions {
    background: none;
    border: none;
    color: #ffe600;
  }